body {
    background-color: hwb(300 15% 55%);
}

h1 {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}